{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h2>Определение типа аудитории по количеству парт и стульев</h2>
<form action="/p_knn" method="POST">
    <p><input type="text" class="form_text" name="tables" placeholder="Введите кол-во парт"> Количество парт</p>
    <p><input type="text" class="form_text" name="chairs" placeholder="Введите кол-во стульев"> Количество стульев</p>
    <input type="submit" class="form_btn" value="Узнать тип аудитории">
    <h1>{{ class_model|safe }}</h1>
</form>
{% endblock %}
